@import '../../styles/_global';

.kvass-widget__notification {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 0.5s;

  .message {

  }
}

.kvass-widget__notification--close {
  bottom: 0;
  height: 0;
}
