<html>

<head>
</head>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf53-uXGDdH29KisPNSvsqpdRIzruI66U&libraries=places"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/@shareactor/shareactor-sdk@latest/dist/main.bundle.js"></script>

<body>
  <div id="kvass-instance"></div>
  <button id="openKvass">Open</button>
  <button id="closeKvass" style="z-index: 1000000; position: absolute;">Close</button>
</body>
<script>
  var apiKey = "<%= APIKEY %>";
  var endpoint = "<%= ENDPOINT %>";
  var auth0Domain = "<%= AUTH0_DOMAIN %>";
  var auth0ClientId = "<%= AUTH0_CLIENTID %>";
  var stripeApiKey = "<%= STRIPE_API_KEY %>";

  KvassOrdering.init({
    domElementId: 'kvass-instance',
    apiKey: apiKey,
    endpoint: endpoint,
    lng: 'no',
    auth0Config: {
      domain: auth0Domain,
      clientId: auth0ClientId
    },
    stripeApiKey: stripeApiKey
  });

  document.getElementById('openKvass').addEventListener('click', function(event) {
    KvassOrdering.open();
  });
  document.getElementById('closeKvass').addEventListener('click', function(event) {
    KvassOrdering.close();
  });
</script>
</html>
