<html>

<head>
</head>

<!--<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf53-uXGDdH29KisPNSvsqpdRIzruI66U&libraries=places"></script>
<script src="https://js.stripe.com/v3/" async></script>
<script src="https://unpkg.com/@shareactor/shareactor-sdk@latest/dist/main.bundle.js"></script>

<body>
  <div id="kvass-instance"></div>
  <button id="openKvass">Open</button>
  <button id="closeKvass" style="z-index: 1000000; position: absolute;">Close</button>
</body>
<script>
  var apiKey = "<%= APIKEY %>";
  var endpoint = "<%= ENDPOINT %>";
  var firebaseApiKey = "<%= FIREBASE_APIKEY %>";
  var firebaseDomain = "<%= FIREBASE_DOMAIN %>";
  var stripeApiKey = "<%= STRIPE_API_KEY %>";

  KvassOrdering.init({
    domElementId: 'kvass-instance',
    apiKey: apiKey,
    endpoint: endpoint,
    lng: 'no',
    firebaseConfig: {
      domain: firebaseDomain,
      apiKey: firebaseApiKey
    },
    stripeApiKey: stripeApiKey
  });

  document.getElementById('openKvass').addEventListener('click', function(event) {
    KvassOrdering.open();
  });
  document.getElementById('closeKvass').addEventListener('click', function(event) {
    KvassOrdering.close();
  });
</script>
</html>
