@import '../../styles/_global';
@import '../../styles/_mixins';

.payment-details {

  .content {
    min-height: $content-min-height;

    .padding-container {
      padding: 10px 32px;
    }

    form {
      margin-top: 100px;
    }

    /* Override Stripe css */
    .StripeElement {
      display: block;
      margin: 10px 0 20px 0;
      max-width: 500px;
      padding: 10px 14px;
      border: 1px solid $primary-color;
      //box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
      //border-radius: 4px;
      background: white;
    }

    .StripeElement--focus {
      @include focus-effect();
    }
  }
}
