@import '../../styles/_global';

.kvass-widget__product-search {
  text-align: center;

  .kvass-widget__search-form {
    display: flex;
    margin-bottom: 0;
  }

  .kvass-widget__search-input {
    height: 36px;
    border: 1px solid $primary-color;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 266px;

    &:focus {
      outline: none;
    }
  }

  .kvass-widget__search-button {
    text-align: center;
    height: 36px;
    width: 70px;
    color: $secondary-background-color;
    background-color: $primary-color;
    border: 0;
    &:focus {
      outline: none;
    }
  }
}

.kvass-widget__product-list {
  min-height: $content-min-height;
  ul {
    list-style: none;
    margin: 0;
    padding: 30px 32px;
  }
  li {
    
  }
}

.kvass-widget__header {
  background-color: $secondary-background-color;
  box-shadow: 0 5px 15px rgba(0,0,0,.033);
  padding: 30px 32px;
}
