$primary-color: #FF7700;
$primary-color-focus: #dc6804;
$primary-color-active: #cc6810;

$primary-background-color: #f5f5f5;
$secondary-background-color: #ffffff;

$widget-width: 400px;
$header-height: 100px;
$footer-height: 100px;
$content-min-height: 500px;

$default-padding: 32px;
