@import './_mixins';

$primary-color: #f68d39;
$primary-color-focus: #dc6804;
$primary-color-active: #cc6810;

$primary-background-color: #ffffff;
$secondary-background-color: #f5f5f5;

$list-item-border-color: #f6f6f6;
$list-item-hover-background-color: #fbfbfb;

$primary-header-title-color: #fff;

$widget-width: 400px;
$header-height: 100px;
$footer-height: 100px;
$content-min-height: 500px;

$primary-input-text-color: #565a5c;
$primary-button-color: #fff;

$primary-border-radius: 8px;

$default-padding: 32px;

$notification-error-color: #afafaf;

$main-icon-color: #9a9a9a;


%white-content-box {
  ul {
    list-style: none;
    padding: 0;
    margin: 12px 0 0;
  }
}

%styled-list {
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    font-size: 12px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    cursor: pointer;
    margin-bottom: 16px;
    padding-left: 0;
    color: $primary-input-text-color;
    border: 1px solid $list-item-border-color;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    height: 42px;
  }
}

%toolbar {
  display: flex;
  margin-left: auto;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
  a {
    padding: 0 8px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid $list-item-border-color;
    @include transition(all 450ms);
    &:hover {
      @include transition(all 450ms);
      background-color: $list-item-hover-background-color;
    }
  }
}
