$primary-color: #f68d39;
$primary-color-focus: #dc6804;
$primary-color-active: #cc6810;

$secondary-color: #ffc38f;

$primary-background-color: #f5f5f5;
$secondary-background-color: #ffffff;

$widget-width: 400px;
$header-height: 100px;
$footer-height: 100px;
$content-min-height: 500px;

$default-padding: 32px;

$notification-error-color: #d43636;

%white-content-box {
  ul {
    list-style: none;
    min-height: 300px;
    background-color: $secondary-background-color;
    margin: 0;
    padding: 5px;
    border: 1px solid #bfbcbc7a;
  }
}
