// Load dependencies first, so we can override
@import '~react-dates/lib/css/_datepicker.css';
@import '~react-times/css/classic/default.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '_global';
@import '_mixins';

.kvass-widget {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  display: flex;
  align-items: center;

  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;

  p {
    margin: 12px 0;
  }

  .kvass-widget__overlay {
    background: radial-gradient(#40404b, #111118) rgba(34,34,40,0.94);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    //@include transition(opacity 0.2s ease-in 0.4s);
  }

  .kvass-widget__container {
    display: block;
    position: relative;
    background-color: $primary-background-color;
    opacity: 1;
    width: $widget-width;
    margin: 0 auto;
    border-radius: $primary-border-radius;

    //@include transition(transform 0.6s, opacity 0.6s, -webkit-transform 0.6s);
    //@include transition(opacity 0.3s ease-in-out 0.4s);
    //@include transition-delay(0.5s);

    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.24);
  }

  .kvass-widget_powered-by {
    position: absolute;
    bottom: -70px;
    left: 50%;
    @include translate(-50%, -50%);

    .svg-icon--powered-by {
      width: 75px;
      height: auto;
    }
  }
}

.kvass-widget--close {
  display: none;
  opacity: 0;
}

.kvass-widget--open {
  opacity: 1;
}

.kvass-widget__content-body {
  position: relative;
}

.close-widget-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 0 0
}

/* Global classes*/

.kvass-widget__primary-button {
  text-align: center;
  cursor: pointer;
  height: 42px;
  width: 120px;
  font-size: 12px;
  border-radius: $primary-border-radius;
  border: 1px solid transparent;
  &:focus {
    @include focus-effect();
  }
  &:hover {
    outline: none;
  }
  &:disabled {
    outline: none;
    cursor: default;
    background-color: #d0d0d0;
    &:hover {
      border: none;
    }
  }
}

input.kvass-widget__primary-button {
  color: $primary-input-text-color;
  background-color: $primary-background-color;
  margin-left: 12px;
}


button.kvass-widget__primary-button {
  color: $primary-button-color;
  background-color: $primary-color;
}

button.kvass-widget__secondary-button {
  color: $primary-input-text-color;
  background-color: $primary-button-color;
  border: 1px solid $primary-color;
  margin-left: 12px;
  border-radius: $primary-border-radius;
  text-align: center;
  cursor: pointer;
  height: 42px;
  width: 120px;
  font-size: 12px;
}

.kvass-widget__input {
  @include primary-input(36px, 100%);
}

.kvass-widget__input-container {
  display: flex;
  padding-bottom: 10px;
}

/** Include component styles **/

@import '../containers/ProductSearch/index';
@import '../containers/ProductPage/index';
@import '../containers/ProductBasket/index';
@import '../containers/UserDetails/index';
@import '../containers/DeliveryDetails/index';
@import '../containers/PaymentDetails/index';
@import '../containers/ConfirmOrder/index';
@import '../containers/Receipt/index';


@import '../components/Header/index';
@import '../components/Footer/index';
@import '../components/Notification/index';
@import '../components/Spinner/index';
@import '../components/SvgIcons/index';
@import '../components/ShoppingCart/index';
@import '../components/PlaceAutoCompleteWrapper/index';
@import '../components/TimePickerWrapper/index';
@import '../components/DayPickerWrapper/index';
@import '../components/PaymentForm/index';
@import '../components/BasketList/index';
