@import '../../styles/_global';

.spinner-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  bottom: 0;
  .overlay {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.spinner-container--hidden {
  display: none;
}
/* https://github.com/lukehaas/css-loaders */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $primary-color;
  font-size: 10px;
  //margin: 80px auto;
  margin: 10% auto;
  position: relative;
  text-indent: -9999em;
  @include transform(translateZ(0));
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
