@import '../../styles/_global';
@import '../../styles/_mixins';

/* time_picker override */

.time_picker_container {
  width: 150px;
}

.time_picker_preview {
  @include primary-input(0, 100%);
  border: 1px solid $list-item-border-color;

  @include transition(none);
  @include box-shadow(none);

  .active {
    @include focus-effect();
  }

  &:hover {
    @include box-shadow(none);
    outline: none;
    border: 1px solid $list-item-border-color;
  }

  .preview_container {
    left: 25%;
    svg {
      fill: #9a9a9a;
    }
  }

}

.classic_theme_container {
  width: 184px;
  .active {
    background-color: $primary-color;
  }
}

.classic_theme_container .classic_time.light.active, .classic_theme_container {
  background-color: $primary-color;
}

.classic_theme_container .classic_time.light:hover {
  outline: none;
  background-color: $primary-color-focus;
}

.time_picker_modal_header, .time_picker_modal_footer, .timezone_picker_modal_header, .picker_pointer .pointer_drag, .picker_center, .picker_pointer {
  background-color: $primary-color;
}
