@import '../../styles/_global';

.kvass-widget__svg--green {
  fill: #5cb85c;

  &:hover {
    fill: #1cab1c;
  }
}
.kvass-widget__svg--red {
  fill: #d9534f;

  &:hover {
    fill: #b71914;
  }
}
.kvass-widget__svg--primary {
  fill: $primary-color;
  &:hover {
    fill: $primary-color-focus
  }
}
