
.shopping-cart {
  width: 52px;
  height: 52px;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  background-color: $secondary-background-color;
  z-index: 1;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    z-index: 0;
  }
}
