<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <script src="https://js.stripe.com/v3/" async></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf53-uXGDdH29KisPNSvsqpdRIzruI66U&libraries=places"></script>
  </head>

  <body>
    <div id="kvass-instance"></div>
    <button id="openKvass">Open</button>
    <button id="closeKvass" style="z-index: 9999; position: absolute;">Close</button>
    <script>
      window.onload = function() {
        if (window.KvassOrdering) {
          KvassOrdering.init({
            domElementId: "<%= DOM_ELEMENT_ID %>",
            apiKey: "<%= APIKEY %>",
            endpoint: "<%= ENDPOINT %>",
            lng: "<%= LANGUAGE %>",
            firebaseConfig: {
              domain: "<%= FIREBASE_APIKEY %>",
              apiKey: "<%= FIREBASE_DOMAIN %>",
            },
            stripeApiKey: "<%= STRIPE_API_KEY %>"
          });

          document.getElementById('openKvass').addEventListener('click', function(event) {
            KvassOrdering.open();
          });
          document.getElementById('closeKvass').addEventListener('click', function(event) {
            KvassOrdering.close();
          });
        }
      };
    </script>
  </body>
</html>`;
