@import '../../styles/_global';
@import '../../styles/_mixins';

.user-details {

  .content {
    min-height: $content-min-height;

    .padding-container {
      padding: 10px 32px;
    }

    .user-details__additional {
      margin-top: 100px;
    }

    .user-details__existing-user {
      text-align: center;
      margin-top: 100px;
      .avatar-container {
        background-color: $primary-color;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 50%;
      }
      .avatar {
        fill: #ffffff;
        display: block;
        height: 100px;
        width: 100px;
      }
      .name {
        display: block;
        margin-top: 15px;
      }
      .phoneNumber {
        display: block;
        margin: 10px 0 15px 0;
      }
      .notYou {
        color: $primary-color;
      }
    }
  }

  /* Override Firebase styles */
  .mdl-shadow--2dp {
    box-shadow: none;
  }

  .firebaseui-subtitle, .firebaseui-title {
    font-size: 14px;
  }

  .mdl-textfield__input {
    @include primary-input(36px, 100%);
  }

  .firebaseui-textfield.mdl-textfield .firebaseui-input {
    border-color: #f68d39;
  }

  /* Override label */
  .mdl-textfield__label {
    padding: 10px 20px;
    font-size: 12px;
  }

  .mdl-textfield--floating-label .mdl-textfield__label {
    transition-duration: unset;
    transition-timing-function: unset;
  }

  .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    visibility: hidden;
  }

  .mdl-textfield__label:after {
    height: 0;
  }
  /* End override label */

  /* Override button*/
  .mdl-button {
    //font-family: unset;
    @extend .kvass-widget__primary-button;
  }

  .mdl-button--raised.mdl-button--colored:hover {
    background-color: unset;
  }

  .mdl-button--raised.mdl-button--colored, .mdl-button--primary.mdl-button--primary, .mdl-button--raised {
    background: unset;
    box-shadow: unset;
    color: unset;
  }

  .mdl-button:active, .mdl-button--raised.mdl-button--colored:active, .mdl-button:focus:not(:active), .mdl-button--raised.mdl-button--colored:focus:not(:active) {
    background-color: unset;
    box-shadow: unset;
  }
}
