@import '../../styles/_global';

.user-details {

  .content {
    min-height: $content-min-height;

    .padding-container {
      padding: 10px 32px;
    }

    .input-group {
      padding-bottom: 10px;
    }
  }

  input {
    height: 36px;
    border: 1px solid $primary-color;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 266px;

    &:focus {
      outline: none;
      border: 1px solid $primary-color-focus;
    }
    &:disabled {
      border: none;
    }
  }
}
