@import '../../styles/_global';

.kvass-widget__content-footer {
  height: $footer-height;
  text-align: center;

  .footer-content {
    border-top: 1px solid $list-item-border-color;
    padding: $default-padding;
    position: relative;
  }
}
