@import '../../styles/_global';

.kvass-widget__content-footer {
  text-align: center;

  .footer-content {
    border-top: 1px solid $list-item-border-color;
    padding: $default-padding;
    position: relative;
  }

  .kvass-widget_powered-by {
    position: absolute;
    bottom: 0;
    right: -50px;
    font-size: 12px;
    @include translate(-50%, -50%);

    a {
      color: darkgray;
      text-decoration: unset;
    }

    .svg-icon--powered-by {
      margin-bottom: -1px;
      width: 45px;
      height: auto;
    }
  }
}
