@import '../../styles/_global';

.product-basket {
  display: flex;
  flex: 1;
  flex-direction: column;
  .padding-container {
    padding: 10px 32px;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .product-basket--item {
    display: flex;
    flex-direction: column;
  }

  .product-basket--item-content {
    display: flex;
    flex-direction: row;
  }


  .product-list {
    @extend %white-content-box;
    flex: 1;
  }

  .product-sum {
    padding: 10px 32px 0;
    background-color: #f5f2f0;

    .product-sum__line {
      font-size: 12px;
      display: flex;
      padding: 12px 0 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);
      span {
        &:nth-child(2) {
          margin-left: auto;
        }
      }

      &:last-child {
        font-weight: bold;
        padding-top: 24px;
        border-bottom: none;
        span {
          &:first-child {
            flex: auto;
            text-align: right;
            padding-right: 16px;
          }
        }
      }
    }
  }

  .footer-content {
    background-color: #f5f2f0;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .basket-recommendations {
    background-color: #f5f2f0;
  }
}
