@import '../../styles/_global';
@import '../../styles/_mixins';

.product-page {
  min-height: $content-min-height;

  .product-page__image {
    padding-top: 5px;
    img {
      border: 1px solid #7a7a7a;
      border-radius: 3px;
      max-height: 300px;
      max-width: 400px;
      margin: 0 auto;
      display: block;
    }
  }

  .product-page__info {
    padding: 10px 32px;

    button {
      margin: 0 auto;
      display: block;
    }
  }

  .product-page__description {

  }

  .product-page__list {
    margin-top: 15px;
    @extend %styled-list;

    ul {
      padding: unset;
    }

    .list-item__toolbar {
      @extend %toolbar;
    }

    .list-item {
      font-size: 14px;
      flex: auto;
      padding: 15px;
      text-transform: uppercase;
    }

    .list-item__count {
      text-align: right;
    }

    .list-item__count-input {
      font-size: 14px;
      text-align: center;
      font-weight: 400;
      color: #9a9a9a;
      width: 41px;
      border: unset;
      border-left: 1px solid #f6f6f6
    }
  }


}
